<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%= titulo || 'Crear Parqueadero' %></title>
  <link rel="stylesheet" href="/admin/css/estilo.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  <% if (typeof extraHead !== 'undefined') { %>
    <%- extraHead %>
  <% } %>
</head>
<body>
  <%- include('header') %>
  <main>
    <div class="contenido-principal">
      <h1 class="centrar">Crear Parqueadero</h1>
      <hr class="linea-windows">
      <div id="crear-parqueadero-content"></div>
    </div>
  </main>
  <% if (typeof extraBody !== 'undefined') { %>
    <%- extraBody %>
  <% } %>
</body>
</html>
