<header>
<div class="sidebar" id="sidebar">
<div class="logo">
<img src="img/logo-grande.png" alt="Logo Grande" class="logo-expandido">
<img src="img/logo-mini.png" alt="Logo Miniatura" class="logo-compacto">
</div>
<ul>
<li><a href="index.html"><i class="fas fa-home"></i><span class="menu-text">Inicio</span></a></li>
<li class="submenu">
<a href="#"><i class="fa-solid fa-list-check"></i> <span class="menu-text">Gestionar</span></a>
<ul>

<li><a href="usuarios_p.html"><i class="fa-solid fa-users-between-lines"></i><span class="menu-text">Usuarios Parqueadero</span></a></li>
<li><a href="#"><i class="fa-solid fa-calendar-days"></i><span class="menu-text">Turnos del Operador</span></a></li>
        
</ul>
</li>

<li class="submenu">
<a href="#"><i class="fa-solid fa-user-tie"></i><span class="menu-text">Administrar</span></a>
<ul>

<li><a href="crear_zonas.html"><i class="fa-solid fa-square-parking"></i><span class="menu-text">Crear Parqueaderos</span></a></li>
<li><a href="crear_celdas.html"><i class="fa-solid fa-square-parking"></i><span class="menu-text">Crear Estacionamientos</span></a></li>  
<li><a href="crear_usuarios.html"><i class="fa-solid fa-user-tie"></i><span class="menu-text">Usuarios del sistema </span></a></li>
<li><a href="#"><i class="fa-solid fa-gear"></i><span class="menu-text">Configuracion</span></a></li>

</ul>
</li>

<li><a href="#"><i class="fa-solid fa-headset"></i><span class="menu-text">Soporte</span></a></li>
</ul>
</div>

<nav class="navbar">

<ul class="navbar-menu">            
<li class="dropdown">
<a href="#" class="dropdown-toggle">Servicios</a>     
<ul class="dropdown-menu">    
<li><a href="#">Enlace</a></li>        
</ul>
</li>
<li><a href="#">Cerrar Sesion</a></li>        
</ul>
</nav>

</header>
