<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Disponibilidad de Parqueaderos</title>
  <link rel="stylesheet" href="/usuario/css/index.css" />
</head>
<body>
  <header class="encabezado">
    <h1>Sistema de Parqueo</h1>
    <p>Disponibilidad actualizada en tiempo real</p>
  </header>

  <section class="disponibilidad">
    <h2>Resumen General</h2>
    <div id="estadoGlobal">
      <!-- Se llenará dinámicamente con porcentajes y conteo -->
    </div>
  </section>

  <section class="detalle-celdas">
    <h2>Estado por Celda</h2>
    <div id="listaCeldas" class="grid-celdas">
      <!-- Se insertarán elementos con estado de cada celda -->
    </div>
  </section>

  <script src="js/iniciar-sesion.js"></script>


</body>
</html>
